%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link{ href: facility_indicators_path(@facility), class: ('active' if params[:type].blank?) }= t("shared.all")

  - Indicator.scope_types.each do |type|
    %li.nav-item
      %a.nav-link{ href: facility_indicators_path(@facility, type: type), class: ('active' if params[:type].present? && params[:type] == type) }
        = t("indicator.#{type.singularize}_indicators")
